body {
    background-color: #111111;
    background-image: url('imgs/burning_rose.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffa500;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 14px;
}

p {
  font-size: 1rem;
    color: #ffffff;
}

.container {
    padding: 5%;
    border: 2px solid #ffa500;
    text-align: center;
    max-width: 800px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
}

h1 {
    color: #ffa500;
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #ffa500;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
    color: #ffa500;
    font-size: 1.4rem;
    margin-top: 0.7rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h4 {
    color: #ffffff;
    font-size: 1.4rem;
    margin-top: 0.7rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h5 {
    color: #ffa500;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

hr {
    border-color: #ffa500;
    margin: 1.5rem 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.footnote {
    font-size: 1.4rem;
}

.footnote:hover {
    font-size: 1.4rem;
    border-color: #ffa500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.blogpost {
    font-size: 1.5rem;
}

a:hover {
    color: #ffa500;
}

.orange {
    color: #ffa500;
}

.white {
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .container {
        padding: 7%;
    }

    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    a {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 10px;
    }

    .container {
        padding: 10%;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.6rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }
    
    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1rem;
    }

    a {
        font-size: 1.4rem;
    }
}

